// Custom Sass variable overrides for Just the Docs

// Reduce the sidebar width to match the OpenFlows design (default is 16.5rem)
$nav-width: 14rem;

// Theme Colors
$link-color: #00aaff;
$sidebar-color: #f8fafc;
$body-background-color: #ffffff;
